/* GLOBAL STYLES ---------------------------------------*/
/* * {
    border: solid black 1px;
} */

:root {
    --primary-bg: #FAFAFA;
    --sidebar-color: #D9E8F6;
    --alert-green: #4CAF50;
    --alert-green-hover: #66D573;
    --alert-green-active: #388e3c;
    --alert-red: #E53935;
    --accent-blue: #007BFF;
}


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Roboto', sans-serif;
}

/* SIDEBAR -------------------------------------------*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9E8F6;
    border-right: solid black 2px;
    padding-left: 8px;
}

#homeLogo img {
    height: 75px;
    width: auto;
    border: solid black 2px;
    border-radius:10px 30px 30px 10px;
}

.projectSection {
    padding: 8px;
}

#projectListTitle {
    padding: 0;
}

.project {
    padding: 8px 8px 8px 16px;
}

.projectSection:hover {
    font-weight: bold;
}

.project:hover, #projectListTitle:hover  {
    font-weight: bold !important;
}

.project, #projectListTitle {
    font-weight: normal;
}

.sidebarSection, .sidebarAction {
    padding: 8px;
}

#addActions {
    margin-bottom: 24px;
}

.sidebarAction {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.sidebarActionPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 40px;
    font-weight: 800;
    background-color: #4CAF50;
    transition: background-color 0.3s;
    color: #FAFAFA;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.475);
}

.sidebarActionPlus:hover {
    background-color: #66D573;
}

.sidebarActionPlus:active {
    background-color: #388E3C; 
}

.sidebarActionDesc {
    text-align: left;
    padding: 4px;
    width: 140px;
    font-size: 20px;
    font-weight: 600;
}

/* TO DO LIST -------------------------------------------*/

#mainContent {
    background-color: #FAFAFA;
}

#titleBar {
    display: flex;
    height: 36px;
    font-size: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #007BFF;
    color: #FAFAFA;
    border-bottom: black solid 2px;
}

#projectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

#projectLabel {
    transform: rotate(-90deg);
    font-size: 10px;
    font-style: italic;
    height: 5px;
}

#projectTitle, #projectInfo {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.475);
    height: 56px;
    padding: 8px;
    font-size: 16px;
}

#projectTitle {
    width: 200px;
    border-radius: 10px 0 0 10px;
    background-color: var(--sidebar-color);
}    

#projectInfo {
    width: 500px;
    border-radius: 0 10px 10px 0;
}

#todoList {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    font-size: 16px;
}

.todoHeader {
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
}